.full-game-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4, auto);
    place-items: center;
    place-content: center;
    grid-row-gap: 25px;
    grid-column-gap: 15px;
    background-color: var(--game-bg);
}


.btn-for-testing {
    width: 170px;
    height: 45px;
    text-align: center;
    background-color: #fff;
    color: #000;
    font-size: 20px;
}

.test {
    color: #fff;
    font-size: 27px;
}
